/* .category {
  border-bottom: 1px solid rgba(219, 216, 216, 0.696);
  padding: 10px;
  background: #6169D0;
  color: white;
} */

.category p {
  font-weight: bold;
  cursor: pointer;
}

.fullReport h5 {
  color: rgba(0, 0, 255, 0.558);
  cursor: pointer;
}

.productTitle {
  padding: 10px;
  background: aliceblue;
  font-weight: 600;
  margin: 1px 0;
}

.productTitleWrapper {
  height: 22rem;
  overflow: hidden scroll;
}

.showDropMenu {
  display: block;
  position: absolute;
  right: 1rem;
}