*,
p {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}




.hide-scrollbar {
  overflow: hidden scroll;
  height: 31rem;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge add Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
  /* Firefox */
}

.subHeadingStyle {
  border-bottom: 1px solid rgba(219, 216, 216, 0.696);
  padding: 10px;
  background: #6169D0;
  color: white;
}

.subHeadingStyle p {
  font-weight: bold;
  cursor: pointer;
}

.productListItem {
  padding: 10px;
  background: aliceblue;
  font-weight: 600;
  margin: 1px 0;
}


/* external bug fixed css */

.dropdown-toggle::after {
  display: none !important;
}

.fixedDropBG button {

  background: transparent;
  border: none;
  box-shadow: none;
  color: black;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: var(--ct-dropdown-item-padding-y) var(--ct-dropdown-item-padding-x);
  clear: both;
  font-weight: 400;
  color: var(--ct-dropdown-link-color);
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  line-height: 2;
}